body{
    margin: 0 auto;
    background-color:black;
}.page{
    margin: 0 auto;
    width: 97vw;
    height: 100vh;
    border: 1px solid black;
    background-color: white;
}.emptyblock{
    width:100vw;
    height:2.5vh;
    background-color:black;
}

/* Center Stuff */
.center_image{
    margin: 0 auto;
}

.center_text{
    text-align: center;
}

/* Images */

.block_image{
    display: block;
    width: 40%;
    height:55%;
    border: 3px solid black;
    border-radius: 5px;
    padding: .5%;
}.work_image{
    width: 100%;
    height: 100%;
    margin: auto;
}.about_image{
    display: block;
    width:80%;
    height:80%;
    border: 3px solid black;
    border-radius: 5px;
    padding: .5%;
}.contact_image{
    display: block;
    width: 60%;
    height:100%;
    border: 3px solid black;
    border-radius: 5px;
    padding: .25%;
}

/* Work divs */
.col{
    display: flex;
    flex-direction: column;
    height: 100%;
}.col a{
    margin: auto;
}.col a img{
    height: 100%;
}.contact_content{
    width: 50%;
    height: auto;
    display: flex; 
    align-items:center; 
    justify-content: space-evenly;
    margin: 7.5%;
    margin-top: 0;
}

/* Navbar */
.linenavbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
}.linenavbar h3, .linenavbar h1{
    display: inline;
}.navbar{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    padding: 5%;
}.innerlist{
    margin-left: 24%;
}

/*  */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Fonts */
.title{
    font-size: 3vw;
    font-weight: bold;
}h3{
    font-size: 1vw;
}.selected h3{
    font-size: 35px;
}.unselected h3{
    font-size: 25px;
}

.selected h1{
    font-size: 50px;
}.unselected h1{
    font-size: 40px;
}

.black{
    color: black;
}.white{
    color: white;
}

.background_p{
    background-color: lightpink;
}.background_w{
    background-color: white;
}.background_b{
    background: rgb(254,254,255);
    background: -moz-radial-gradient(circle, rgba(254,254,255,1) 0%, rgba(0,0,0,1) 54%);
    background: -webkit-radial-gradient(circle, rgba(254,254,255,1) 0%, rgba(0,0,0,1) 54%);
    background: radial-gradient(circle, rgba(254,254,255,1) 0%, rgba(0,0,0,1) 54%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefeff",endColorstr="#000000",GradientType=1);
}