.block_image{
    display: block;
    width: 80%;
    height:50%;
    border: 3px solid black;
    border-radius: 5px;
    padding: .5%;
}.about_image{
    width: 60%;
    height:30%;
}.contact_image{
    display: block;
    width: 80%;
    height:30%;
    border: 3px solid black;
    border-radius: 5px;
    padding: .25%;
}.contact_content{
    flex-direction: column;
}h3{
    font-size: 2vw;
}.contact_content form h1{
    font-size: 3vw;
}.contact_content form  h3{
    font-size: 1vw;
}